---
import type { HTMLAttributes } from 'astro/types'
import Btn from '../Btn.astro'
import { twMerge } from 'tailwind-merge'
type Props = {
  l: { link: string; text: string }
  r: { link: string; text: string }
} & HTMLAttributes<'div'>

const { l, r, class: classes } = Astro.props

export const btnClasses =
  'flex text-nowrap justify-center items-center bg-background-dark-02 backdrop-blur-[16px] mx-auto w-36 sm:w-40 h-16 md:h-20 md:w-52 justify-center overflow-hidden'
---

<div
  class={twMerge(
    [
      'about-btns',
      'mt-[8vh] flex w-full items-center sm:gap-28 text-white sm:w-[28rem] flex-row justify-between md:w-[32rem]',
    ],
    classes,
  )}
>
  <Btn
    href={l.link}
    data-text-scramble={l.text}
    data-text-scramble-speed="20"
    class={btnClasses}
    frame
    data-audio
    data-audio-stopon="mouseout mousedown"
    data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:-0.25 volume:0.2"
    data-audio-click="vibration-click pan:-0.25 volume:0.2">{l.text}</Btn
  >
  <Btn
    href={r.link}
    data-text-scramble={r.text}
    data-text-scramble-speed="20"
    class={btnClasses}
    frame
    data-audio
    data-audio-stopon="mouseout mousedown"
    data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:0.25 volume:0.2"
    data-audio-click="vibration-click pan:0.25 volume:0.2">{r.text}</Btn
  >
</div>
