---
import Layout from '../layouts/Layout.astro'
import NextPageBtn from '../components/NextPageBtn.astro'
import Btn from '../components/Btn.astro'
import WorkDetails from '../components/WorkDetails.astro'
import { PROJECTS_LIST } from '../app/constants'
interface Props {}

const {} = Astro.props
---

<Layout title="Dominick Vale - ⓒ 2024" renderer="works">
  <h1 class="sr-only">WORKS</h1>
  <div
    class="mb-18 col-span-10 col-start-2 row-start-1 flex flex-col justify-center mt-6 md:mt-12 lg:col-span-4 lg:col-start-2 lg:row-start-1 lg:mt-0 laptop-h:justify-start"
  >
    <div class="lg:ml-4 lg:mt-[11vh] lg:taller:aspect-4/4:mt-[20vh]">
      <div class="relative flex flex-col justify-center">
        <div class="image-wrapper relative h-[20vh] tall:h-[33vh] cursor-pointer p-4 opacity-0 tall:md:h-[45vh]" id="works-image">
          <div class="fui-corners"></div>
        </div>
        <div class="work-details 2lg:max-w-[30rem] mt-8 hidden max-w-[90%] opacity-0 lg:block ">
          <WorkDetails project={PROJECTS_LIST[0]} />
        </div>

        <div class="work-details-mobile mt-4 w-full opacity-0 lg:hidden flex flex-col min-h-[6.2rem]">
          <WorkDetails small={true} project={PROJECTS_LIST[0]} />
          <div class="flex gap-[-0.5rem] mt-4">
            <Btn id="mobile-read-btn" href="/blog" class="w-full py-6" frame target="_blank" rel="noopener" tabindex="1">READ CASE</Btn>
            <Btn id="mobile-visit-btn" href="/blog" class="w-full py-6" frame target="_blank" rel="noopener" tabindex="1">VISIT</Btn>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-1 col-start-12 mb-14 ml-2 hidden h-full items-center sm:flex">
    <NextPageBtn href="/blog">BLOG</NextPageBtn>
  </div>

  <section id="works-list" class="col-span-4 col-start-8 row-start-1 hidden flex-col gap-[6vh] pt-[10vh] lg:flex">
    {
      Object.values(PROJECTS_LIST).map((project, i) => (
        <h2
          class="project-title relative ml-[-12%] flex h-[10vh] w-full !cursor-pointer items-center font-display font-bold uppercase text-primary-lightest"
          data-i={i}
          style={`--i: ${i}`}
          tabindex="1"
          aria-label={project.name}
        >
          <svg class="pointer-events-none absolute left-0 top-0 flex h-full w-full origin-left justify-start fill-primary-lightest opacity-0">
            <text>{project.name}</text>
          </svg>
          <div class="fui-corners highlighted-corner z-[100] hidden h-full font-mono opacity-0">
            <div class="line-container">
              <div class="line" />
              <div class="circle" />
              <div class="dynamic-line" />
            </div>
            <div class="absolute bottom-[-2.2rem] right-[-1px] flex w-full gap-3 xl:w-3/4 taller:bottom-[-2.7rem]">
              <Btn
                href={project.linkCase}
                class="w-full"
                data-audio
                data-audio-stopon="mouseout mousedown"
                data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:0.15 volume:0.2"
                data-text-scramble="READ CASE"
                bottom
                frame
                tabindex="1"
              >
                READ CASE
              </Btn>
              <Btn
                href={project.linkWebsite}
                class="w-full"
                data-audio
                data-audio-stopon="mouseout mousedown"
                data-audio-mouseover="vibration loop fadeIn:0.7 fadeOut:0.5 pan:0.25 volume:0.2"
                data-text-scramble="VISIT WEBSITE"
                bottom
                frame
                target="_blank"
                rel="noopener"
                tabindex="1"
              >
                VISIT WEBSITE
              </Btn>
            </div>
            <small class="absolute left-8 top-[-1rem] text-xs font-normal tracking-widest opacity-40">PROJ_ID: 00{i}</small>
          </div>
        </h2>
      ))
    }
  </section>
  <section id="works-list-mobile" class="col-span-10 col-start-2 row-start-2 flex flex-col text-center lg:hidden pb-[10vh] mt-14">
    {
      Object.values(PROJECTS_LIST).map((project, i) => (
        <h2
          class="project-title-mobile relative h-[5vh] w-full font-display text-2xl font-bold uppercase text-primary-lightest"
          style={`--i: ${i}`}
          data-i={i}
          tabindex="1"
          aria-label={project.name}
        >
          <a href={project.linkCase} class="pointer-events-none">
            <svg class="absolute left-0 top-0 flex h-full w-full origin-center justify-start fill-primary-lightest opacity-0 lg:origin-left">
              <text>{project.name}</text>
            </svg>
            <div class="fui-corners highlighted-corner hidden h-full font-mono opacity-0" />
          </a>
        </h2>
      ))
    }
  </section>
</Layout>

<style>
  .project-title:not([data-active='true']) {
    transform-origin: bottom left;
  }
  .project-title {
    font-size: 10vh;
  }
  .project-title[data-active='true'] {
    /* margin-bottom: 5vh; */
    color: white;
  }
  .project-title-mobile[data-active='true'] {
    color: white;
  }
  .highlighted-corner {
    width: 108%;
    left: -5%;
  }
  .line-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-100%);
  }

  .line {
    width: 5vw;
    height: 1px;
    opacity: 0.2;
    background-color: white;
  }

  .circle {
    position: absolute;
    left: 0;
    top: -1px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    transform: translateX(-50%);
  }

  .dynamic-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 1px;
    background-color: white;
    opacity: 0.2;
    transform-origin: left;
    transform: translateX(-100%);
  }
</style>
