---
import type { HTMLAttributes } from 'astro/types'
import FuiCorners from './FuiCorners.astro'


interface Props extends HTMLAttributes<'img'>{
  cover?: boolean
  contain?: boolean
  variant?: "blog" | "default"
  containerId?: string
  src: string
}

const { class: classes, containerId, cover, contain, variant, alt, ...props} = Astro.props

const imageVariant = variant || "default"

const imageFileName = props.src.split("?")[0].split("/").pop()
---

{imageVariant === "default" ? (
  <div id={containerId} class:list={[ "img-container relative p-4 mr-auto uppercase", classes ] }>
  <small class="small-1 vertical-text--left absolute bottom-4 left-[-0.25rem] text-[0.5rem] leading-[100%] opacity-40 tracking-widest">{imageFileName}</small>
    <img class:list={[  "w-full max-h-[50vh]", cover && "h-full object-cover", contain && "h-full object-contain" ] } {...props} />
    <!-- <small class="text-xs opacity-40 absolute right-0 top-0 vertical-text--right leading-[100%]">IMAGE_NAME-001.jpg</small> -->
    <div class="absolute right-0 top-0 flex h-full w-3">
      <small
        class="small-2 vertical-text--right mt-11 w-[1.6rem] text-[0.5rem] leading-[100%] opacity-40 tracking-widest"
        >IMG_ACCESS_LVL: PUBLIC</small
      >
    </div>
    <FuiCorners />
  </div>
) : (
  <div class:list={[ "w-full uppercase ", classes ] }>
    <div class="relative flex-col w-full h-full flex justify-center items-center p-3">
    <div class="vertical-text--left absolute top-[35%] left-0 z-20 img-small-left">
      <div class="bg-lines absolute top-1.5 right-[calc(-45%-4px)] w-[1.6rem] h-[1px] origin-top-left rotate-45"></div>
      <div class="bg-lines absolute top-1.5 left-[-10%] w-[120%] h-[1px]"></div>
      <div class="bg-lines absolute top-1.5 left-[calc(-45%-4px)] w-[1.6rem] h-[1px] origin-top-right rotate-[-45deg]"></div>
      <small class="shadow text-[0.5rem] leading-[50%] opacity-0 pointer-events-none tracking-label" >{imageFileName}</small>
      <small class="absolute left-0 bottom-[-1rem] w-full h-full text-[0.5rem] leading-[50%] tracking-label" >{imageFileName}</small>
    </div>
      <img class:list={[  "w-full", cover && "h-full object-cover", contain && "h-full object-contain" ] } {...props} />
      <span class="alt ml-3 relative image-caption self-start mt-4 text-xs text-copy opacity-80">{alt}</span>
      <FuiCorners class="" dot/>
    </div>
    <div class="absolute left-[-1rem] top-[-2rem] bg-striped w-5/6 h-20 z-[-1]" />
  </div>
)}

<style>
.image-caption::before{
  content: '';
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: theme('colors.primary');
  height: theme('height.1');
  width: theme('height.1');
}
.fui-frame-left{
  background-image: url('/fui-frame-left.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0.5rem;
  padding-left: 2rem;
}
</style>
