---
import Marquee from '../Marquee.astro'

const { title, tags, description, readTime, date, class: classes } = Astro.props
---

<article
  class:list={[
    'bg-blur relative flex h-[16rem] w-full flex-col justify-center overflow-hidden p-6 sm:w-[19rem] sm:px-10 tall:h-[19rem] tall:w-[20rem]',
    classes,
  ]}
>
  <div class="gradient-overlay absolute left-0 top-0 h-full w-full"></div>
  <Marquee tags={tags} />
  <span class="mb-3">
    <small
      class="read-time relative ml-3 text-xxs sm:text-xs uppercase text-[rgba(255,255,255,0.77)]"
      >{readTime}</small
    >
    <h3 class="article-title font-display text-2xl h-16 font-black">{title}</h3>
  </span>
  <span>
    <date class="relative text-xxs sm:text-xs uppercase text-[rgba(255,255,255,0.77)]"
      >{date}</date
    >
    <p class="line-clamp-3 tall:line-clamp-none overflow-hidden text-xs sm:mt-1">{description}</p>
  </span>
</article>

<style>
  .read-time {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -30%;
      top: 33%;
      background-color: theme('colors.primary');
      height: theme('height.1');
      width: theme('height.1');
    }
  }

  .gradient-overlay {
    transition: all 0.25s ease-out;
    background: radial-gradient(
      20rem circle at var(--x) var(--y),
      var(--primary-02),
      transparent
    );
    z-index: -1;
  }
</style>
