---
import Marquee from '../Marquee.astro'

const { title, tags, description, readTime, date, class: classes } = Astro.props
---

<article
  class:list={[
    'bg-blur-harder relative mx-auto flex h-[30vh] w-[90%] flex-col justify-center bg-transparent p-6 sm:w-[19rem] lg:p-12 md:h-[16rem] xs:gap-4 sm:gap-0 md:gap-4 tall:h-[21rem] tall:w-[21rem]',
    classes,
  ]}
  data-cursor-message="Open"
  data-cursor-timeout="0"
  data-cursor-speed="0.2"
  data-cursor-ease="power2.inOut"
>
  <div class="fui-corners-2 pointer-events-none absolute bottom-[-.65rem] left-[-.62rem] right-[-.6rem] top-[-.55rem] opacity-0">
    <div class="relative h-full w-full">
      <svg
        class="absolute bottom-0 right-0 h-3 w-3"
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M17.8574 17.8637V3.00586L21.8574 7.00586V18.8637H18.8574V21.8637H6.99902L2.99902 17.8637H17.8574Z" fill="#D7D7D7"></path>
        <rect opacity="0.5" width="14.7443" height="2" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 11.8398 10.4258)" fill="#D7D7D7"
        ></rect>
      </svg>

      <svg
        class="absolute bottom-0 left-0 h-3 w-3"
        preserveAspectRatio="xMinYMin meet"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4.00001 17.8637V3.00586L1.14441e-05 7.00586V18.8637H3.00001V21.8637H14.8584L18.8584 17.8637H4.00001Z" fill="#D7D7D7"></path>
        <rect opacity="0.5" x="10.0176" y="10.4258" width="14.7443" height="2" transform="rotate(-45 10.0176 10.4258)" fill="#D7D7D7"></rect>
      </svg>

      <svg
        class="absolute left-0 top-0 h-3 w-3"
        preserveAspectRatio="xMaxYMin meet"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M3.99903 3.99956V18.8574L-0.000965118 14.8574V2.99956H2.99903V-0.000444412H14.8574L18.8574 3.99956H3.99903Z" fill="#D7D7D7"></path>
        <rect opacity="0.5" width="14.7443" height="2" transform="matrix(0.707107 0.707107 0.707107 -0.707107 10.0166 11.4375)" fill="#D7D7D7"></rect>
      </svg>

      <!-- <svg class="absolute left-0 bottom-0 w-2 h-2" preserveAspectRatio="xMinYMax meet" viewBox="0 0 5 5" fill="none" xmlns="http://www.w3.org/2000/svg"> -->
      <!--   <path d="M1.25891 3.74105V0L2.17261e-07 1.25895V4.24463H0.755348V5H3.74109L5 3.74105H1.25891Z" fill="#D9D9D9"></path> -->
      <!-- </svg> -->

      <svg
        class="absolute right-0 top-0 h-3 w-3"
        preserveAspectRatio="xMaxYMin meet"
        viewBox="0 0 22 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M17.8574 3.99956V18.8574L21.8574 14.8574V2.99956H18.8574V-0.000444412H6.99902L2.99902 3.99956H17.8574Z" fill="#D7D7D7"></path>
        <rect opacity="0.5" x="11.8398" y="11.4375" width="14.7443" height="2" transform="rotate(135 11.8398 11.4375)" fill="#D7D7D7"></rect>
      </svg>
    </div>
  </div>

  <div class="pointer-events-none absolute left-0 top-0 h-8 w-full overflow-hidden">
    <Marquee tags={tags} />
  </div>
  <div class="gradient-overlay pointer-events-none absolute left-0 top-0 h-full w-full"></div>
  <span class="pointer-events-none mb-5">
    <small class="read-time relative ml-3 text-xs uppercase tracking-wider text-inactive">{readTime}</small>
    <h3 class="article-title h-16 font-display text-2xl font-black">{title}</h3>
  </span>
  <span class="pointer-events-none flex flex-col gap-1">
    <date class="relative text-xs uppercase tracking-wider text-inactive">{date}</date>
    <div class="article-description h-0 overflow-hidden">
      <div class="relative">
        <p class="absolute left-0 top-0 line-clamp-2 h-full w-full min-w-full text-xs text-copy sm:min-h-24 md:line-clamp-3 tall:line-clamp-none">
          {description}
        </p>
        <p
          class="shadow-description pointer-events-none line-clamp-2 min-w-full text-xs text-copy opacity-0 sm:min-h-24 md:line-clamp-3 tall:line-clamp-none"
        >
          {description}
        </p>
      </div>
    </div>
  </span>
</article>

<style>
  .read-time {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20%;
      top: 50%;
      transform: translateY(-70%);
      background-color: theme('colors.primary');
      height: 0.2rem;
      width: 0.2rem;
    }
  }

  .gradient-overlay {
    --x: 50%;
    --y: 50%;
    transition: all 0.25s ease-out;
    background: radial-gradient(20rem circle at var(--x) var(--y), var(--primary-02), transparent);
    opacity: 0;
    z-index: -1;
  }
</style>
