---
import type { Frontmatter } from '../content/config'
import BaseLayout from './Layout.astro'
import Btn from '../components/Btn.astro'
import Image from '../components/Image.astro'
import BlogParagraph from '../components/blog/BlogParagraph.astro'
import OpenProjBtn from '../components/blog/OpenProjBtn.astro'
import WorkDetails from '../components/WorkDetails.astro'
import Marquee from '../components/Marquee.astro'

type Props = {
  frontmatter: Frontmatter
}
const { frontmatter } = Astro.props
const {
  title,
  tags,
  readTime,
  date,
  subtitle,
  lastUpdated,
  ttr,
  project,
  intro,
} = frontmatter
---

<BaseLayout title="Blog page" rowsMax withContacts>
  <section
    class="col-span-12 col-start-1 row-start-1 flex items-center justify-center gap-3 opacity-70 sm:hidden lg:col-span-4 lg:col-start-2 lg:mt-[8vh] lg:justify-start lg:self-start"
  >
    <svg
      width="7"
      height="8"
      viewBox="0 0 7 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.52091 3.99987L6.26185 0.258921L3.74403 0.258921L0.75843 3.24452L1.51378 3.99987L0.758429 4.75521L3.74416 7.74095L6.26198 7.74095L2.52091 3.99987Z"
        fill="#D9D9D9"></path>
    </svg>
    <Btn class="font-normal" href="/blog">BACK TO WORKS</Btn>
  </section>
  <section
    class="col-span-10 col-start-2 row-start-2 mb-[5vh] mt-[5vh] sm:mb-0 sm:mt-[10vh] md:col-span-8 md:col-start-3 lg:hidden"
  >
    <div class="relative">
      <Image class="mb-3" />
      <Marquee tags={project.tech} class="top-4 left-4 right-4 bg-white text-background-dark" />
    </div>
    <div class="relative justify-between gap-3 flex flex-col sm:flex-row">
      <WorkDetails small />
      <div
        class="hidden sm:flex fui-frame bg-striped flex-[0.8] items-center justify-center opacity-90"
      >
        <OpenProjBtn link={project.link} />
        <div class="fui-corners"></div>
      </div>
    </div>
  </section>
  <section
    class="relative col-span-10 col-start-2 row-start-3 md:col-span-8 md:col-start-3 lg:col-span-4 lg:col-start-2 lg:row-start-2"
  >
    <div class="flex h-max flex-col sm:flex-row lg:mt-8">
      <span class="relative mt-[5vh] tall:mt-[6vh] taller:mt-[10vh]">
        <span class="absolute left-1 top-[-1rem] text-xxs opacity-50"
          >CASE_N: 001</span
        >
        <h1
          class="font-display text-[9.2vw] font-black leading-[100%] md:text-[3.7vw]"
        >
          {title}
        </h1>
      </span>
    </div>
    <h2
      class="mb-[6vh] ml-3 mt-4 hidden whitespace-nowrap font-mono text-xs font-black tracking-button opacity-60 sm:block sm:text-lg tall:text-base"
    >
      {subtitle}
    </h2>

    <span
      class="mb-2 mt-6 flex items-center gap-3 text-xxs opacity-50 md:text-xs"
    >
      <p>LAST UPDATE: <date>{lastUpdated}</date></p>
      <div class="h-1 w-1 rounded-full bg-white opacity-70"></div>
      <p>TTR: {ttr}</p>
    </span>

    <BlogParagraph>
      {intro}
    </BlogParagraph>
  </section>
  <section
    class="col-span-10 col-start-1 row-start-3 hidden flex-col items-center self-start lg:col-span-4 lg:col-start-8 lg:row-start-2 lg:mt-20 lg:flex"
  >
    <Image />
    <div class="h-6 w-[1px] bg-lines"></div>
    <div class="relative flex min-h-12 w-full flex-col xl:flex-row">
      <div class="fui-frame flex-1">
        <table class="text-xs">
          <tbody class="">
            <tr class="grid grid-cols-[3rem_1fr] gap-1">
              <th class="pl-0 pr-3 text-left text-primary-darker">ROLE:</th>
              <td class="text-left">{project.role}</td>
              <th class="pl-0 pr-3 text-left text-primary-darker">CLIENT:</th>
              <td class="text-left">{project.client}</td>
              <th class="pl-0 pr-3 text-left text-primary-darker">YEAR:</th>
              <td class="text-left">{project.year}</td>
              <th class="pl-0 pr-3 text-left text-primary-darker">TECH:</th>
              <td class="min-w-32 text-left"> {project.tech.join(', ')}</td>
            </tr>
          </tbody>
        </table>
        <div class="fui-corners"></div>
      </div>
      <div
        class="fui-frame bg-striped flex flex-1 items-center justify-center opacity-90"
      >
        <OpenProjBtn link={project.link} />
        <div class="fui-corners"></div>
      </div>
    </div>
  </section>
  <div
    class="col-span-10 col-start-2 row-start-4 grid auto-rows-max md:col-span-8 md:col-start-3 lg:gap-[10vh]"
  >
    <slot />
  </div>
</BaseLayout>
